.blue {
  background-color: #2382a1;
}
.green {
  background-color: #4be22d;
}
.pink {
  background-color: #ff009d;
}

.degradado {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/degradado.png',sizingMethod='scale');
}

* html .degradado img {
  display:none;
}