* {
font-family: 'Open Sans', Verdana, Helvetica;
}

body {
background-color: #f0f0f0;
font-size:9pt;
cursor:default;
overflow:auto;
border:none;
margin:0;
}
h1, h1 span {
font-family: Ubuntu, Verdana, Helvetica;
}

#login {
background-image:url(../resources/images/login.png);
background-repeat:no-repeat;
background-position:center;
height:157px;
left:50%;
position:absolute;
top:50%;
width:521px;
margin:-178px 0 0 -270px;
padding:250px 0 0 20px;
}

a {
font-weight:700;
text-decoration:none;
}


.actions td {
    border: 0px none;
    padding: 2px;
}


